.home-section-heading {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
  padding-top: 1.25em;

  &--white {
    color: white;
  }
}